.generic-content-container {
  /*
    line height doesn't need unit of measurement
    font size for p tag is defaulted to 1rem
   */
  /*
    try not to nest more than one layer deep
   */
  p {
    font-weight: 300;
    line-height: 1.65;
    margin: 0 0 1.8rem 0;

    @mixin atSmall {
      font-size: 1.125rem;
    }
  }

  /*
    default font weight is 400
   */
  p a {
    font-weight: 700;
  }
}